---
import { getEntry } from "astro:content";
import { Image } from "astro:assets";
import LeseImage from "../../../assets/images/Lese.webp"
import HorizontalLine from "../../animation/HorizontalLine.astro";

const winesEntry = await getEntry("wines", "wines");
const wines = winesEntry?.data ?? [];
---

<section>
  <!-- Section Heading  -->
  <HorizontalLine direction="right" color="black" width="100%" />
  <div class="relative">
    <Image
      class="w-full object-cover h-100"
      src={LeseImage}
      alt="Lese"
    />
    <div class="absolute inset-0 flex items-center justify-center bg-black/40">
      <h2 class="text-white text-4xl fade-up">Unsere Weine</h2>
    </div>
  </div>
  <!-- Wine Slide Gallery -->
  <HorizontalLine direction="left" color="black" width="100%" />
  <div class="wine-gallery-wrapper overflow-hidden p-5">
    <div
      class="wine-gallery flex gap-8 py-20 px-4 overflow-x-auto snap-x snap-mandatory scroll-smooth"
    >
      {
        wines.map((wine: any) => (
          <a
            class="wine-card shrink-0 snap-center w-[40vw] md:w-[20vw] lg:w-[15vw] flex flex-col transition-all duration-300 hover:-translate-y-2 hover:shadow-xl"
            href="https://www.shop-weinbau-schmuckenschlager.com/"
          >
            <div class="aspect-2/4 overflow-hidden">
              <Image
                src={wine.image}
                alt={wine.name}
                class="w-full h-full object-cover object-start transition-shadow duration-300 hover:[box-shadow:0_8px_16px_rgba(0,0,0,0.2)]"
                quality={90}
                format="png"
                loading=lazy
                width={700}
              />
            </div>
            <div class="mt-4 text-center">
              <h3 class="text-xl">{wine.name}</h3>
              <p class="text-gray-600">{wine.year}</p>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
